@page "/"

<PageTitle>Index</PageTitle>

<h1>TECHVIRT</h1>

Добро пожаловать в интернет магазин TECHVIRT.

<p>@Time</p>

@* <SurveyPrompt Title="How is Blazor working for you?"/> *@

@code
{
   private DateTime Time = DateTime.Now;
}
